  
          footer {
          
            width: 100%;
            
          }
          
          .music-player {
              --primary-color: #ddd;
              --secondary-color: #999;
              --green-color: #2d5;
              --padding: 1em;
              background-color: #111;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              position: relative;
          
              height: 7rem;
              padding: var(--padding);
              color: var(--primary-color);
          }
          i{
              color: var(--secondary-color);
          }
          i:hover{
              color: var(--primary-color);
          }
          .song-bar {
             
              left: var(--padding);
          
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: 1.5rem;
              width: 25%;
          }
          
          .song-infos {
              display: flex;
              align-items: center;
              gap: 1em;
          }
          .image-container {
              --size: 4.5em;
              flex-shrink: 0;
              width: var(--size);
              height: var(--size);
          }
          .image-container img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
          .song-description p {
              margin: 0.2em;
          }
          .title,
          .artist {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
          }
          .title:hover,
          .artist:hover {
              text-decoration: underline;
          }
          .artist{
              color: var(--secondary-color);
          }
          .icons{
              display: flex;
              gap: 1em;
          }
          .progress-controller{
          
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              gap: 1.5em;
              color: var(--secondary-color);
          }
          .control-buttons{
              display: flex;
              align-items: center;
              gap: 2em;
          }
          .play-pause{
              display: inline-block;
              padding: 1em;
              background-color: var(--primary-color);
              color: #111;
              border-radius: 50%;
          }
          .play-pause:hover{
              transform: scale(1.1);
              color: #111;
          }
          .progress-container{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1em;
          }
          
          
          .custom-progress-bar {
             /* Rimuove l'aspetto predefinito */
            width: 100%;
            height: 8px; /* Altezza della barra di progresso */
            background: #ccc; /* Colore dello sfondo grigio */
            outline: none; /* Rimuove il bordo esterno */
            border-radius: 5px; /* Bordo arrotondato */
            overflow: hidden; /* Nasconde il contenuto che supera i bordi */
          }
          
          .custom-volume-bar{
            width: 100%;
            height: 8px; /* Altezza della barra di progresso */
            background: #ccc; /* Colore dello sfondo grigio */
            outline: none; /* Rimuove il bordo esterno */
            border-radius: 5px; /* Bordo arrotondato */
            overflow: hidden; /
          
          }
          
          
          
          .other-features{
             justify-content: center;
             align-items: center;
              right: var(--padding);
              display: flex;
              flex-direction: row;
              gap: 1em;
          }
          .volume-bar{
              display: flex;
              align-items: center;
              gap: 0.7em;
          }
          .volume-bar .progress-bar{
              width: 6em;
          }
          .volume-bar .progress-bar:hover .progress::after{
              --size: 0.8em;
          }

          #play {display: none;}


          input[type='range']{ accent-color: #1DB954; }



          /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
    .progress-controller{
        flex: 1 1 50%;} 
        .song-bar {
            flex: 1 1 50%; }    
        }
  
       
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    .progress-controller{
        flex: 1 1 50%;} 
        
        .song-bar {
            flex: 1 1 50%; }  
  
  
   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
   
    .progress-controller{
        flex: 1 1 33%;} 
        
        .song-bar {
            flex: 1 1 33%; }  
   
  
            .other-features{
             
                flex: 1 1 33%;}
        }
  
    
  
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
  
  }
    
  
  
  @media (min-width: 1400px) { 
    
            }
            
            