* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    color: white;
    font-family: "Circular" !important;
  }
  
  .logo img {
    width: 20vh;
  }
  .navigation ul {
    list-style: none;
   
  }
  
  .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
  }
  .navigation ul li a:hover,
  .navigation ul li a:active,
  .navigation ul li a:focus {
    color: #ffffff;
  }
  .navigation ul li a:hover .fa,
  .navigation ul li a:active .fa,
  .navigation ul li a:focus .fa {
    color: #b3b3b3;
  }
  .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
  }
  .navigation ul li a:hover .fa:hover,
  .navigation ul li a:hover .fa:active,
  .navigation ul li a:hover .fa:focus {
    color: #ffffff;
  }
  
  .policies ul {
    list-style: none;
  }
  
  .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
  }
  .policies ul li a:hover,
  .policies ul li a:active,
  .policies ul li a:focus {
    color: #ffffff;
  }
  
  .friends {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .friends li {
    display: flex;
    justify-content: space-between;
  }
  
  .friends .img {
    width: 20%;
  }
  .friends img {
    width: 100%;
    border-radius: 50%;
  }
  
 
  
  .friends div:nth-of-type(2) {
    flex-grow: 1;
  
  }
  
  .main-content {
    height: 100vh;
    color: white;
    /* background: rgb(46, 46, 46);
    background: linear-gradient(
      188deg,
      rgba(46, 46, 46, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ); */
   
  }
  
  
  
  .imgtop {
    background-image: url("../imgs/main/image-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  
  
  
  .central h1 {
    font-size: 4em;
  }
  .hero button {
    background-color: #1db954;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 20px;
  }
  .hero button:hover,
  .hero button:active,
  .hero button:focus {
    background-color: #f2f2f2;
  }
  
  .hero button:nth-of-type(2){
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.298);
  }
  
  
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(46, 46, 46);
    background: linear-gradient(
      188deg,
      rgba(46, 46, 46, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
   
  }
  
  
  .annunced {
    align-self: start;
    color: rgba(255, 255, 255, 0.377);
    padding: 2px 10px;
    border: 1px solid rgba(255, 255, 255, 0.176);
    border-radius: 20px;
    font-size: 0.8em;
  }
  
  
  .spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  
 
 
  

  .spotify-playlists .list .item {
   
    
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .spotify-playlists .list .item:hover {
    background-color: #252525;
  }
  .spotify-playlists .list .item img{
  
  }
  .spotify-playlists .list .item .play {
    position: relative;
  }
  .spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
  }
  .spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
  }
 
  .spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
  }
  
  .preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
  }
  .preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
  }
  
.gradient-card { background: #242424;
 }

.gray {color: #b3b3b3;}

.input-box {background-color:#242424 !important ;
  border-color:  #242424 !important;
  color: white !important;
}
.input-box::placeholder{ color:#b3b3b3 !important;}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .gradient {
     background-color: black;
  }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
 

  .gradient {background-color: rgb(46, 46, 46)!important;
    background: linear-gradient(
      188deg,
      rgba(46, 46, 46, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ) !important; 
      
  }


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
 

  

  
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
  


@media (min-width: 1400px) { 
}